/* Fuentes. ---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
/* font-family: 'Heebo', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
/* font-family: 'Oleo Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
/* font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Lobster', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
/* font-family: 'Cookie', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* font-family: 'Roboto', sans-serif; */

/* Fin Fuentes. ---------------------------- */

/* Reseteo */
* {
    margin: 0;
    padding: 0;
}

/* Diseño general */
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

html {
    font-size: 62.5%;
}

/*  Inicio del Header.---------------------- */

header li {
    font-size: 1.8rem;
    margin: 6px;
}
header ul {
    margin: auto;
}

.navbar {
    text-align: center;
}

.buttonSearch {
    font-size: 1.4rem;
    
}

.navContacto {
    margin-right: 15px;
}

#logoPrincipal {
    width: 90px;
    
}

#logIn {
    width: 30px;
    
}

.logosApps {
    width: 35px;
}
.btn {
    color: #d27109;
    border-color: #d27109;
}
.btn:hover {
    background-color: #d27109;
    border-color: #d27109;
}

/* Animacion Menu */

.menuLink:hover {
    color: rgb(225, 171, 72) !important;
    transform: scale(1.2, 1.2);
}

/* Animacion Subrayado Menu 
.menuLink {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}

.menuLink:hover, .menuLink:focus {
    background-size: 100% 1px;

}
*/

/* Fin del Header.-------------------------- */

/*  Inicio del Footer.---------------------- */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 15px 0 15px;
}

.navFooter {
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: bolder;
    margin-left: 15px;
}

.navFooter li {
    margin: 5px 0;
}

.logoFooter {
    width: 80px;
}

.navContactoFooter {
    text-align: right;
    margin-right: 15px;
}

.navContactoFooter li {
    display: inline-block;
}

.creador {
    grid-area: creador;
    text-align: center;
    margin: 5px;
    background-color: #FE9A2E;
    font-size: 1.2rem;
}

/* Fin del Footer.-------------------------- */


/* Inicio del Index.------------------------ */


.mainIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.portada {
    width: 80%;
    height: 300px;
    overflow: hidden;
    background-image: url(../img/fotoanchacincoplatos.jpeg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    border: #000 solid 1px;
    margin: auto;
    margin-top: 50px;
    
}

.infoNosotros {
    
    font-size: 1.5rem;
}
